<div class="modal fade " tabindex="-1">
    <div class="modal-dialog {{modalSize}}">

        <div class="modal-content">
          {{component modal.componentName
            model=modal.context
            actionReceiver=instance
            onCloseResolve="closeModalResolve" onCloseReject="closeModalReject" }}
        </div>
    </div>
</div>